.welcome-layout {
    height: 100%;
    width: 98%;
    /* border:1px solid red; */

    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding:20px;
    gap:20px;
}

.main-layout {
    min-height: 60%;
    width: 100%;
    /* border:1px solid red; */
    display: flex;
    gap:20px;
}

.main-layout .main-container{
    height: 100%;
    min-width: 65%;
    /* border:1px solid red; */

    box-shadow: 2px 8px 10px 3px rgba(0,0,0,0.24);
    -webkit-box-shadow: 2px 8px 10px 3px rgba(0,0,0,0.24);
    -moz-box-shadow: 2px 8px 10px 3px rgba(0,0,0,0.24);

    border-radius: 20px;
}

.main-layout .side-container{
    height: 100%;
    min-width: 33%;
    /* border:1px solid red; */
    flex-grow:2;

    box-shadow: 2px 8px 10px 3px rgba(0,0,0,0.24);
    -webkit-box-shadow: 2px 8px 10px 3px rgba(0,0,0,0.24);
    -moz-box-shadow: 2px 8px 10px 3px rgba(0,0,0,0.24);
    
    border-radius: 20px;
}

.deck-layout {
    min-height: 38%;
    width: 100%;
    /* border:1px solid red; */
    display: flex;
    gap:20px;
}

.deck-layout .card-container{
    height: 100%;
    min-width: 19%;
    /* border:1px solid red; */
    flex-grow: 1;

    box-shadow: 2px 8px 10px 3px rgba(0,0,0,0.24);
    -webkit-box-shadow: 2px 8px 10px 3px rgba(0,0,0,0.24);
    -moz-box-shadow: 2px 8px 10px 3px rgba(0,0,0,0.24);
    border-radius: 20px;
    cursor: pointer;
}